<!DOCTYPE html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>浙里吧场地预约系统</title>

<!-- Bootstrap -->
<link href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
<!--<style>
  body{background-image: url('../imgage/main-1.jpg');background-size: 100% 1000px;}
</style>-->
<style>  
body{background-color: #FAEBD7;}
</style>  
</head>
<body>
<!--Navigator-->
<nav class="navbar navbar-default " role="navigation" style = "background-color: black; margin-bottom:0px;">
    <div class="container-fluid" >
    <div class="navbar-header">
        <a class="navbar-brand" href="#" style="margin-left:20px;font-size: 20px;color: white;"><em>浙里吧 </em>场地预约系统</a>
    </div>
    <div style = "margin-top:10px;margin-bottom:-10px;margin-left:1050px;">
      <p style="font-size: 20px;margin-right:0;color: white;">欢迎 {{name}} (+_+) <a class="btn btn-primary btn-sm" style="font-size: 15px;margin-left:20px;color: #FAEBD7;" href="/Main/login">退出</a></p>
    </div>
  </div>
</nav>
<!--Mainpart-->

  <div class="row clearfix" style = "margin-top: 10px;">
    <!--Navigator-->
    <div class="col-md-2 column" style="border-right: 2px solid gray ; height: 20cm">
      <ul class="nav nav-pills nav-stacked">
        <li>
           <a href="/Apply/myinfo" >基本信息</a>
        </li>
        <li>
           <a href="/Apply/modifycode" >修改密码</a>
        </li>
        <li>
           <a href="/Apply/myrecord" >申请记录</a>
        </li>
        <li class="active">
           <a href="/Apply/infoquery" >场地查询</a>
        </li>
        <li>
           <a href="/Apply/application" >场地申请</a>
        </li>
      </ul>
    </div>
    <!--Navigator-->
    <div class="col-md-10 column">
      <h3 style = "text-align: center">会议室预约情况</h3>
      <div style = "text-align: center">
        <!--<ul class="nav nav-tabs" style = "text-align: center">
          <li class="active"><a href="#OneW" data-toggle="tab">第一周</a></li>
          <li><a href="#TwoW" data-toggle="tab">第二周</a></li>
          <li><a href="#ThreeW" data-toggle="tab">第三周</a></li>
          <li><a href="#FourW" data-toggle="tab">第四周</a></li>
        </ul>-->
        <ul class="pagination">
          <li class="active"><a href="#OneW" data-toggle="tab">{{wek1.0|date:"Y-m-d"}} ~ {{wek1.6|date:"Y-m-d"}}</a></li>
          <li><a href="#TwoW" data-toggle="tab">{{wek2.0|date:"Y-m-d"}} ~ {{wek2.6|date:"Y-m-d"}}</a></li>
          <li><a href="#ThreeW" data-toggle="tab">{{wek3.0|date:"Y-m-d"}} ~ {{wek3.6|date:"Y-m-d"}}</a></li>
          <li><a href="#FourW" data-toggle="tab">{{wek4.0|date:"Y-m-d"}} ~ {{wek4.6|date:"Y-m-d"}}</a></li>
        </ul>
      </div>
      <div class="tab-content">
        <div class="tab-pane active" id="OneW" >
          <p style = "text-align: center">绿色表示空闲，蓝色表示有预约正在处理（如果交表交得更快，也是有机会的哦！），红色表示已被预约</p>
          <table class="table table-bordered">
            <caption></caption>
              <thead>
                <tr>
                  <th>时间</th>
                  {% for wd1 in wek1 %}
                  <th>
                    {% if forloop.counter == 1 %}
                    星期一
                    {% elif forloop.counter == 2 %}
                    星期二
                    {% elif forloop.counter == 3 %}
                    星期三
                    {% elif forloop.counter == 4 %}
                    星期四
                    {% elif forloop.counter == 5 %}
                    星期五
                    {% elif forloop.counter == 6 %}
                    星期六
                    {% elif forloop.counter == 7 %}
                    星期日
                    {% endif %}
                    {{wd1|date:"m-d"}}
                  </th>
                  {% endfor %}
                </tr>
              </thead>
              <tbody>
                {% for a in week1 %}
                <tr>
                  <td>{{forloop.counter|add:9}}点~{{forloop.counter|add:10}}点</td>
                  {% for b in a %}
                  {% if b == 0 %}
                  <td style = "background-color: green"></td>
                  {% elif b == 1 %}
                  <td style = "background-color: blue"></td>
                  {% elif b == 2 %}
                  <td style = "background-color: red"></td>
                  {% endif %}
                  {% endfor %}
                </tr>
                {% endfor %}
              </tbody>
          </table>  
        </div>
        <div class="tab-pane" id="TwoW" >
          <p style = "text-align: center">绿色表示空闲，蓝色表示有预约正在处理（如果交表交得更快，也是有机会的哦！），红色表示已被预约</p>
          <table class="table table-bordered">
            <caption></caption>
              <thead>
                <tr>
                  <th>时间</th>
                  {% for wd2 in wek2 %}
                  <th>
                    {% if forloop.counter == 1 %}
                    星期一
                    {% elif forloop.counter == 2 %}
                    星期二
                    {% elif forloop.counter == 3 %}
                    星期三
                    {% elif forloop.counter == 4 %}
                    星期四
                    {% elif forloop.counter == 5 %}
                    星期五
                    {% elif forloop.counter == 6 %}
                    星期六
                    {% elif forloop.counter == 7 %}
                    星期日
                    {% endif %}
                    {{wd2|date:"m-d"}}
                  </th>
                  {% endfor %}
                </tr>
              </thead>
              <tbody>
                {% for a in week2 %}
                <tr>
                  <td>{{forloop.counter|add:9}}点~{{forloop.counter|add:10}}点</td>
                  {% for b in a %}
                  {% if b == 0 %}
                  <td style = "background-color: green"></td>
                  {% elif b == 1 %}
                  <td style = "background-color: blue"></td>
                  {% elif b == 2 %}
                  <td style = "background-color: red"></td>
                  {% endif %}
                  {% endfor %}
                </tr>
                {% endfor %}
              </tbody>
          </table>
        </div>
        <div class="tab-pane" id="ThreeW" >
          <p style = "text-align: center">绿色表示空闲，蓝色表示有预约正在处理（如果交表交得更快，也是有机会的哦！），红色表示已被预约</p>
          <table class="table table-bordered">
            <caption></caption>
              <thead>
                <tr>
                  <th>时间</th>
                  {% for wd3 in wek3 %}
                  <th>
                    {% if forloop.counter == 1 %}
                    星期一
                    {% elif forloop.counter == 2 %}
                    星期二
                    {% elif forloop.counter == 3 %}
                    星期三
                    {% elif forloop.counter == 4 %}
                    星期四
                    {% elif forloop.counter == 5 %}
                    星期五
                    {% elif forloop.counter == 6 %}
                    星期六
                    {% elif forloop.counter == 7 %}
                    星期日
                    {% endif %}
                    {{wd3|date:"m-d"}}
                  </th>
                  {% endfor %}
                </tr>
              </thead>
              <tbody>
                {% for a in week3 %}
                <tr>
                  <td>{{forloop.counter|add:9}}点~{{forloop.counter|add:10}}点</td>
                  {% for b in a %}
                  {% if b == 0 %}
                  <td style = "background-color: green"></td>
                  {% elif b == 1 %}
                  <td style = "background-color: blue"></td>
                  {% elif b == 2 %}
                  <td style = "background-color: red"></td>
                  {% endif %}
                  {% endfor %}
                </tr>
                {% endfor %}
              </tbody>
          </table>
        </div>
        <div class="tab-pane" id="FourW" >
          <p style = "text-align: center">绿色表示空闲，蓝色表示有预约正在处理（如果交表交得更快，也是有机会的哦！），红色表示已被预约</p>
          <table class="table table-bordered">
            <caption></caption>
              <thead>
                <tr>
                  <th>时间</th>
                  {% for wd4 in wek4 %}
                  <th>
                    {% if forloop.counter == 1 %}
                    星期一
                    {% elif forloop.counter == 2 %}
                    星期二
                    {% elif forloop.counter == 3 %}
                    星期三
                    {% elif forloop.counter == 4 %}
                    星期四
                    {% elif forloop.counter == 5 %}
                    星期五
                    {% elif forloop.counter == 6 %}
                    星期六
                    {% elif forloop.counter == 7 %}
                    星期日
                    {% endif %}
                    {{wd4|date:"m-d"}}
                  </th>
                  {% endfor %}
                </tr>
              </thead>
              <tbody>
                {% for a in week4 %}
                <tr>
                  <td>{{forloop.counter|add:9}}点~{{forloop.counter|add:10}}点</td>
                  {% for b in a %}
                  {% if b == 0 %}
                  <td style = "background-color: green"></td>
                  {% elif b == 1 %}
                  <td style = "background-color: blue"></td>
                  {% elif b == 2 %}
                  <td style = "background-color: red"></td>
                  {% endif %}
                  {% endfor %}
                </tr>
                {% endfor %}
              </tbody>
          </table>
        </div>
      </div>
      <p style = "text-align: center"><a class="btn btn-primary btn-sm" style="font-size: 15px;margin-left:20px;color: #FAEBD7;" href="/Apply/infoquery">返回</a></p>
    </div>
  </div>


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="http://cdn.static.runoob.com/libs/jquery/1.10.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>
